@import "tailwindcss";

:root {
  --background: #000000d2;
  --foreground: #39ff14;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);

  background-image: radial-gradient(
    circle,
    rgba(38, 255, 0, 0.796) 3px,
    transparent 1px
  );
  background-size: 40px 40px;
}

.glass-reflection::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgb(255, 255, 255),
    transparent
  );
  transform: skewX(-25deg);
  transition: 1s;
}

.glass-reflection:hover::before {
  left: 125%;
}
